:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.container{
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-4 {
  position: relative;
  width: 100%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-top-right-radius: 0.65rem;
  border-top-left-radius: 0.65rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.text-muted {
  color: #6c757d !important;
}
.btn-group {
  position: relative;
  z-index: 1;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: 0;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
