<app-header></app-header>

<div class="container py-4">
  <img src="./assets/home/guide-{{guideId}}.png" class="mx-auto d-block my-4 img-fluid border rounded border" alt="Preview of the model.">
  <ul class="nav justify-content-center">
    <li class="px-2 py-2" *ngFor="let guide of guides">
      <a class="btn btn-success" data-toggle="modal" data-target="#modal" href="" (click)="fillModalWindow(guide)">{{guide.name}}</a>
    </li>
    <li class="px-2 py-2"><a class="btn btn-warning text-white" [routerLink]="['/viewer', guideId]">Посмотреть в 3D</a></li>
  </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title" id="modal-title">{{currentPart.name}}</h5></div>
      <div class="modal-body" id="modal-body">
        <div class="body align-items-center flex-column d-flex" *ngFor="let part of currentPart.content">
<!--          Image-->
          <img *ngIf="part.code === 'img'" class="img" [src]="part.data" alt="Visual presentation of above text.">
          <p *ngIf="part.code === 'img'">Рис. {{getImgId(part.data)}}</p>
<!--          YouTube Video-->
          <div *ngIf="part.code === 'video'" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="this.sanitizer.bypassSecurityTrustResourceUrl(part.data)" allowfullscreen></iframe>
          </div>
<!--          .zip file-->
          <a *ngIf="part.code === 'parts'" [href]="part.data" download="Готовые детали.zip">Готовые детали</a>
          <br *ngIf="part.code === 'parts'">
<!--          Text-->
          <p *ngIf="part.code === 'text'" class="text">{{part.data}}</p>
        </div>
      </div>
      <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button></div>
    </div>
  </div>
</div>
