<div class="container py-4">
  <img src="../../assets/home/guide-{{id}}.png" class="mx-auto d-block my-4 img-fluid border rounded border" alt="preview of the model">
  <ul class="nav justify-content-center">
    <li class="px-2 py-2" *ngFor="let part of guide.parts">
      <a class="btn btn-success" data-toggle="modal" data-target="#modal" href="" (click)="fillGuide(part)">{{part.name}}</a>
    </li>
  </ul>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title" id="modal-title">{{currentPart.name}}</h5></div>
      <div class="modal-body" id="modal-body">
        <div class="d-flex align-items-center flex-column" *ngFor="let part of currentPart.content">
<!--          Text-->
          <p *ngIf="part.code === 'text'">{{part.data}}</p>
<!--          Image-->
          <img *ngIf="part.code === 'img'" class="guide-img" [src]="part.data" alt="">
          <a *ngIf="part.code === 'img'" href="{{part.data}}">Рис. {{part.id}}</a>
          <br *ngIf="part.code === 'img'">
<!--          Video-->
          <div *ngIf="part.code === 'video'" class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="this.sanitizer.bypassSecurityTrustResourceUrl(part.data)" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button></div>
    </div>
  </div>
</div>
