<a class="viewer-btn home" [routerLink]="'/'">
  <img class="viewer-btn-img" src="./assets/three-viewer/home.png">
</a>
<a class="viewer-btn return" [routerLink]="['/guide', id]">
  <img class="viewer-btn-img" src="./assets/three-viewer/return.png">
</a>
<div *ngFor="let annotation of annotations" id="annotation-{{annotation.index}}" class="annotation hidden">
  <span id="annotation-text-{{annotation.index}}"></span>
</div>
<div *ngFor="let annotation of annotations"
     id="annotation-index-{{annotation.index}}"
     class="annotation-number"
     (click)="hideAnnotation(annotation.index)">
  {{annotation.index}}
</div>
